<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CattsMtServiceCustomBinding">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="CattsMtServiceNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://atdccattsnlb.ch.intel.com/CATTSWebService/CATTSWebService.svc" binding="customBinding" bindingConfiguration="CattsMtServiceCustomBinding" contract="Proxy.CattsWebService.IProcessMsg" name="CattsMtServiceCustomBinding" />
      <endpoint address="net.tcp://atdspcattsin3.ch.intel.com/CATTSWebService/CATTSWebService.svc" binding="netTcpBinding" bindingConfiguration="CattsMtServiceNetTcpBinding" contract="Proxy.CattsWebService.IProcessMsg" name="CattsMtServiceNetTcpBinding" />
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>